*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #101f2b;
}
.b {
    color: #F4AA41;
}
.bg {
    border-radius: 10px;
    background-color: #F4AA41;
}
.bg-o {
    border-radius: 10px;
    background-color: #0D1922;
}
.n {
    background-color: #fb842c;
    border-radius: 20px;
}